# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java Codes\stack and queue problem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
